* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
}
body, div, aside, footer, header, main, nav, section, ul, ol, li, figure, picture, hr, form {
    display: flex;
}

ul {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    flex-direction: column;

    .container {
        width: 100%;
        max-width: 1240px;
        height: 100%;
        padding: 0 var(--space);
        margin: 0 auto;
    }
}