:root {
  --dark: #333;
  --white: #FFF;
  --black: #000;
  --gray-1: #EBEBEB;
  --gray-2: #FAFAFA;
  --gray-3: #959595;
  --gray-4: #5E5E5E;
  --gray-5: #707070;
  --gray-6: #6A6A6A;
  --green: #10957C;
  --blue: #2f6dda;
  --blue-2: #0A6BA1;
  --blue-3: #0A6BA1;
  --space: 20px;
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Light"), url("../fonts/OpenSans-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Regular"), url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans SemiBold"), url("../fonts/OpenSans-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Bold"), url("../fonts/OpenSans-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
  font-display: swap;
}
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
}

body, div, aside, footer, header, main, nav, section, ul, ol, li, figure, picture, hr, form {
  display: flex;
}

ul {
  margin: 0;
  padding: 0;
}

main {
  width: 100%;
  min-height: calc(100vh - 195px);
  flex-direction: column;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  flex-direction: column;
  min-height: 100vh;
}
body .container {
  width: 100%;
  max-width: 1240px;
  padding: 0 var(--space);
  margin: 0 auto;
}
body .section-title {
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: var(--space);
}
body .section-title h2 {
  color: var(--dark);
  font-size: 26px;
  margin: 0 var(--space);
  text-align: center;
}
body .section-title hr {
  flex: 1;
  border: 0;
  background-color: var(--gray-1);
  width: 100%;
  height: 1px;
}
body .section-title.page {
  margin: calc(var(--space) * 3) 0;
}
body .section-title.page h1 {
  color: var(--green);
  font-size: 26px;
  text-align: center;
  margin: 0 var(--space);
}

@media (min-width: 992px) {
  body .section-title h1 {
    font-size: 32px;
  }
}
#header {
  width: 100%;
  height: 80px;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.05);
  z-index: 2;
}
#header.login .container {
  justify-content: center;
}
#header.login .container .menu nav ul li a.signin {
  display: flex;
}
#header .container {
  justify-content: space-between;
  align-items: center;
}
#header .container .logo {
  width: 210px;
}
#header .container .logo img {
  width: 210px;
  height: auto;
}
#header .container .menu {
  position: absolute;
  z-index: 1;
  top: 0;
  left: -100vw;
  width: 100vw;
  height: 100vh;
  transition: left 0.4s ease-in-out;
  background-color: var(--white);
  overflow-y: hidden;
  flex-direction: column;
}
#header .container .menu.open {
  left: 0;
  position: fixed;
}
#header .container .menu header {
  padding: var(--space);
  justify-content: space-between;
  align-items: center;
  padding-bottom: var(--space);
  border-bottom: 1px solid var(--gray-1);
}
#header .container .menu nav {
  padding: var(--space);
  flex-direction: column;
}
#header .container .menu nav ul {
  width: 100%;
  flex-direction: column;
  align-items: center;
}
#header .container .menu nav ul li {
  margin-bottom: 30px;
  width: 100%;
  justify-content: center;
}
#header .container .menu nav ul li a {
  color: var(--dark);
  font-size: 17px;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.25s ease-in-out;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
}
#header .container .menu nav ul li a.signin {
  display: none;
}
#header .container .menu nav ul li a:hover {
  color: var(--green);
}
#header .container .menu nav ul li a > div {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  color: var(--dark);
  margin-right: 5px;
  background-color: var(--green);
  display: none;
}
#header .container .menu nav ul li a.active {
  font-weight: 600;
  color: var(--green);
}
#header .container .menu nav ul li a.active > div {
  display: flex;
}
#header .container .menu nav .user-controls {
  justify-content: center;
}
#header .container .menu nav .user-controls .button-signin {
  width: 100%;
  max-width: 230px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  font-size: 16px;
  padding: 0 10px;
  border-radius: 5px;
  text-decoration: none;
  outline: none;
  border: 0;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background-color: var(--blue);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
  min-width: 100px;
  max-width: 120px;
}
#header .container .menu nav .user-controls .button-signin:hover {
  background-color: var(--blue-3);
}
#header .container .menu nav .user-controls .button-signin:disabled {
  cursor: not-allowed;
}
#header .container .menu nav .user-controls .button-signin:disabled:hover {
  background-color: var(--blue);
}
#header .container .menu nav .user-controls .button-signin:disabled .app-loader {
  display: flex;
}
#header .container .menu nav .user-controls .button-signin .app-loader {
  display: none;
}
#header .container .menu nav .user-controls .button-signin .app-loader .loader {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#header .container .menu nav .user-controls .button-signin .app-loader .loader div {
  width: 25px;
  height: 25px;
  border-width: 4px;
  margin: 0;
}
#header .container .menu nav .user-controls .button-signin svg {
  fill: #FFF;
  margin-right: 10px;
  width: 20px;
  height: auto;
}
#header .container .mobile-buttons {
  border: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  background: transparent;
}
#header .container .mobile-buttons svg {
  width: 25px;
  height: auto;
}

@media (min-width: 992px) {
  #header .container {
    justify-content: space-between;
  }
  #header .container .logo {
    width: 230px;
  }
  #header .container .logo img {
    width: inherit;
  }
  #header .container .menu {
    position: initial;
    z-index: initial;
    background-color: initial;
    height: initial;
    margin-left: var(--space);
  }
  #header .container .menu header {
    display: none;
  }
  #header .container .menu nav {
    padding: initial;
    width: initial;
    flex-direction: row;
  }
  #header .container .menu nav ul {
    flex-direction: row;
    justify-content: center;
    width: fit-content;
    flex-grow: 1;
  }
  #header .container .menu nav ul li {
    margin-bottom: 0;
    margin-left: 30px;
    width: initial;
  }
  #header .container .menu nav ul li:first-child {
    margin-left: 0;
  }
  #header .container .menu nav ul li a {
    width: initial;
  }
  #header .container .menu nav .user {
    min-width: 230px;
    justify-content: flex-end;
  }
  #header .container .mobile-buttons {
    display: none;
  }
}
form.default {
  width: 100%;
  flex-direction: column;
}
form.default .row {
  flex-direction: column;
}
form.default .row:last-child {
  margin-bottom: 0;
}
form.default .row > div {
  flex: 1;
  flex-direction: column;
  margin-bottom: var(--space);
}
form.default .row > div input, form.default .row > div textarea, form.default .row > div select {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  background-color: var(--white);
  padding: 0 var(--space);
  color: var(--dark);
  border: 1px solid var(--gray-3);
  font-size: 16px;
  outline: none;
  transition: all 0.3s ease-in-out;
}
form.default .row > div input::placeholder, form.default .row > div textarea::placeholder, form.default .row > div select::placeholder {
  color: var(--gray-3);
}
form.default .row > div input:hover, form.default .row > div input:focus, form.default .row > div textarea:hover, form.default .row > div textarea:focus, form.default .row > div select:hover, form.default .row > div select:focus {
  border-color: var(--green);
}
form.default .row > div textarea {
  resize: none;
  height: 200px;
  padding-top: 10px;
}
form.default .row > div .checkbox {
  width: 100%;
  align-items: center;
  margin-top: 10px;
}
form.default .row > div .checkbox input {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
form.default .row > div .checkbox input:checked {
  background-color: var(--green);
}
form.default .row > div .checkbox label {
  flex-wrap: wrap;
}
form.default .row > div button[type=submit] {
  width: 100%;
  max-width: 230px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  font-size: 16px;
  padding: 0 10px;
  border-radius: 5px;
  text-decoration: none;
  outline: none;
  border: 0;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background-color: var(--blue);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
  align-self: center;
}
form.default .row > div button[type=submit]:hover {
  background-color: var(--blue-3);
}
form.default .row > div button[type=submit]:disabled {
  cursor: not-allowed;
}
form.default .row > div button[type=submit]:disabled:hover {
  background-color: var(--blue);
}
form.default .row > div button[type=submit]:disabled .app-loader {
  display: flex;
}
form.default .row > div button[type=submit] .app-loader {
  display: none;
}
form.default .row > div button[type=submit] .app-loader .loader {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
form.default .row > div button[type=submit] .app-loader .loader div {
  width: 25px;
  height: 25px;
  border-width: 4px;
  margin: 0;
}

@media (min-width: 992px) {
  form.default .row {
    flex-direction: row;
  }
  form.default .row > div button[type=submit] {
    align-self: initial;
  }
  form.default .row div + div {
    margin-left: var(--space);
  }
}
.budget-form {
  flex-direction: column;
  align-items: center;
  max-width: 550px;
}
.budget-form h2 {
  color: var(--green);
  font-size: 26px;
  font-weight: 600;
  margin: 0;
  margin-bottom: var(--space);
}
.budget-form p {
  color: var(--dark);
  font-size: 16px;
  text-align: center;
}

@media (min-width: 992px) {
  .budget-form p {
    text-align: left;
  }
}
#newsletter {
  background-color: var(--green);
  padding: var(--space) 0;
  margin-top: calc(var(--space) * 3);
}
#newsletter .container {
  flex-direction: column;
  align-items: center;
}
#newsletter .container header {
  width: 100%;
  justify-content: center;
  align-items: center;
}
#newsletter .container header h2 {
  font-size: 24px;
  font-weight: 600;
  color: var(--white);
  margin: 0;
  margin-left: 10px;
}
#newsletter .container p {
  color: var(--white);
  font-size: 16px;
  text-align: center;
}
#newsletter .container form {
  max-width: 500px;
  position: relative;
}
#newsletter .container form input {
  padding-right: 140px;
}
#newsletter .container form button[type=submit] {
  position: absolute;
  right: 0;
  width: 120px;
  justify-content: space-between;
  padding: 10px;
}

.app-loader {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.app-loader .loader {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.app-loader .loader div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: var(--green) transparent transparent transparent;
}
.app-loader .loader div:nth-child(1) {
  animation-delay: -0.45s;
}
.app-loader .loader div:nth-child(2) {
  animation-delay: -0.3s;
}
.app-loader .loader div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.alert-wrapper {
  position: fixed;
  top: 20px;
  left: calc(50vw - 160px);
  flex-direction: column-reverse;
  z-index: 10;
  width: 100%;
}
.alert-wrapper .alert + .alert {
  margin-bottom: 20px;
}
.alert-wrapper .alert {
  width: 100%;
  max-width: 320px;
  min-height: 65px;
  border-left: 3px solid;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  background-color: #ebebeb;
  border-left-color: #6c6c6c;
}
@media (min-width: 600px) {
  .alert-wrapper .alert {
    max-width: 400px;
  }
}
.alert-wrapper .alert.show {
  transform: translateY(25px);
  opacity: 1;
  visibility: visible;
}
.alert-wrapper .alert .content {
  flex-grow: 1;
  align-items: center;
}
.alert-wrapper .alert .content p {
  color: var(--dark);
  margin: 0;
}
.alert-wrapper .alert .button {
  margin-left: 5px;
  height: inherit;
  justify-content: flex-end;
  align-items: center;
}
.alert-wrapper .alert .button > button {
  border: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  background: transparent;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #6c6c6c;
}
.alert-wrapper .alert .button > button svg {
  width: 13px;
  height: 13px;
  fill: #6c6c6c;
}
.alert-wrapper .alert .countdown {
  background-color: #6c6c6c;
  width: 100%;
  height: 3px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 0;
  animation: countdown 7s forwards;
}
.alert-wrapper .alert.success {
  background-color: #a8f1c6;
  border-left-color: #248d50;
}
.alert-wrapper .alert.success .button button {
  border-color: #248d50;
}
.alert-wrapper .alert.success .button button svg {
  fill: #248d50;
}
.alert-wrapper .alert.success .countdown {
  background-color: #248d50;
}
.alert-wrapper .alert.danger {
  background-color: #f6a6a3;
  border-left-color: #981f1b;
}
.alert-wrapper .alert.danger .button button {
  border-color: #981f1b;
}
.alert-wrapper .alert.danger .button button svg {
  fill: #981f1b;
}
.alert-wrapper .alert.danger .countdown {
  background-color: #981f1b;
}
.alert-wrapper .alert.warning {
  background-color: #ffd38a;
  border-left-color: #94610f;
}
.alert-wrapper .alert.warning .button button {
  border-color: #94610f;
}
.alert-wrapper .alert.warning .button button svg {
  fill: #94610f;
}
.alert-wrapper .alert.warning .countdown {
  background-color: #94610f;
}
@keyframes countdown {
  0% {
    width: 100%;
  }
  100% {
    width: 0;
    display: none;
  }
}

#footer {
  width: 100%;
  background-color: var(--gray-6);
  color: var(--white);
  margin-top: calc(var(--space) * 2);
  padding: var(--space) 0;
}
#footer .container {
  align-items: center;
  flex-direction: column-reverse;
}
#footer .container > div {
  flex: 1;
}
#footer .container > div p {
  margin: 0;
  text-align: center;
}
#footer .container > div.social-media {
  justify-content: center;
  margin-bottom: var(--space);
}
#footer .container > div.social-media a {
  margin: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}
#footer .container > div.social-media a:hover {
  background-color: var(--gray-3);
}
#footer .container > div.links {
  justify-content: flex-end;
  margin-bottom: var(--space);
}
#footer .container > div.links a {
  color: var(--white);
  font-size: 16px;
  margin-left: var(--space);
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
#footer .container > div.links a:hover, #footer .container > div.links a:active {
  color: var(--gray-3);
}

@media (min-width: 992px) {
  #footer .container {
    flex-direction: row;
  }
  #footer .container > div.links, #footer .container > div.social-media {
    margin-bottom: 0;
  }
}
#landing {
  width: 100%;
  height: 550px;
}
#landing .container {
  background-image: url("../images/lights.webp");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
#landing .container .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
}
#landing .container .overlay .content {
  width: 100%;
  max-width: 720px;
  padding: 0 var(--space);
  color: var(--white);
  flex-direction: column;
}
#landing .container .overlay .content h1 {
  font-size: 26px;
  font-weight: 600;
  text-align: center;
}
#landing .container .overlay .content .description {
  font-size: 16px;
  margin-top: 0;
}
#landing .container .overlay .content .services {
  margin-bottom: var(--space);
}
#landing .container .overlay .content .services .service {
  flex: 1;
  flex-direction: column;
  margin-right: 10px;
}
#landing .container .overlay .content .services .service:last-child {
  margin-right: 0;
}
#landing .container .overlay .content .services .service div {
  justify-content: flex-start;
}
#landing .container .overlay .content a {
  width: 100%;
  max-width: 230px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  font-size: 16px;
  padding: 0 10px;
  border-radius: 5px;
  text-decoration: none;
  outline: none;
  border: 0;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background-color: var(--blue);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
  align-self: center;
}
#landing .container .overlay .content a:hover {
  background-color: var(--blue-3);
}
#landing .container .overlay .content a:disabled {
  cursor: not-allowed;
}
#landing .container .overlay .content a:disabled:hover {
  background-color: var(--blue);
}
#landing .container .overlay .content a:disabled .app-loader {
  display: flex;
}
#landing .container .overlay .content a .app-loader {
  display: none;
}
#landing .container .overlay .content a .app-loader .loader {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#landing .container .overlay .content a .app-loader .loader div {
  width: 25px;
  height: 25px;
  border-width: 4px;
  margin: 0;
}

#call-to-pages {
  margin-top: calc(var(--space) * 3);
}
#call-to-pages .container {
  flex-direction: column;
  align-items: center;
}
#call-to-pages .container .call-services {
  margin-top: calc(var(--space) * 2);
  width: 100%;
  max-width: 550px;
  flex-direction: column;
  align-items: center;
}
#call-to-pages .container .call-services h2 {
  color: var(--green);
  font-size: 26px;
  font-weight: 600;
  margin: 0;
  margin-bottom: var(--space);
}
#call-to-pages .container .call-services p {
  color: var(--dark);
  font-size: 16px;
}
#call-to-pages .container .call-services a {
  width: 100%;
  max-width: 230px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  font-size: 16px;
  padding: 0 10px;
  border-radius: 5px;
  text-decoration: none;
  outline: none;
  border: 0;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background-color: var(--blue);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
}
#call-to-pages .container .call-services a:hover {
  background-color: var(--blue-3);
}
#call-to-pages .container .call-services a:disabled {
  cursor: not-allowed;
}
#call-to-pages .container .call-services a:disabled:hover {
  background-color: var(--blue);
}
#call-to-pages .container .call-services a:disabled .app-loader {
  display: flex;
}
#call-to-pages .container .call-services a .app-loader {
  display: none;
}
#call-to-pages .container .call-services a .app-loader .loader {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#call-to-pages .container .call-services a .app-loader .loader div {
  width: 25px;
  height: 25px;
  border-width: 4px;
  margin: 0;
}

@media (min-width: 992px) {
  #landing .container {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  #landing .container .overlay {
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
  }
  #landing .container .overlay .content h1 {
    font-size: 32px;
  }
  #landing .container .overlay .content .description {
    font-size: 20px;
  }

  #call-to-pages .container {
    flex-direction: row;
    justify-content: space-between;
    align-items: initial;
  }
  #call-to-pages .container .call-services {
    margin-top: 0;
    margin-left: var(--space);
  }
}
.service-example {
  padding: var(--space) 0;
  margin-top: calc(var(--space) * 3);
}
.service-example.bg-gray {
  background-color: var(--gray-2);
}
.service-example .container {
  flex-direction: column;
}
.service-example .container > section {
  flex-direction: column;
  align-items: center;
}
.service-example .container > section > div {
  width: 100%;
  max-width: 600px;
  flex-direction: column;
}
.service-example .container > section > div.image {
  max-width: 725px;
}
.service-example .container > section > div > img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
}
.service-example .container > section > div h3 {
  margin: var(--space) 0;
  color: var(--green);
  font-size: 20px;
  font-weight: 600;
}
.service-example .container > section > div p {
  color: var(--dark);
  font-size: 16px;
  text-align: justify;
}
.service-example .container > section > div ul {
  color: var(--dark);
  flex-direction: column;
  margin-bottom: var(--space);
}
.service-example .container > section > div ul li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.service-example .container > section > div ul li:last-child {
  margin-bottom: 0;
}
.service-example .container > section > div ul li div {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: var(--blue);
  margin-right: 10px;
}
.service-example .container > section > div a {
  width: 100%;
  max-width: 230px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  font-size: 16px;
  padding: 0 10px;
  border-radius: 5px;
  text-decoration: none;
  outline: none;
  border: 0;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background-color: var(--blue);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
  align-self: center;
}
.service-example .container > section > div a:hover {
  background-color: var(--blue-3);
}
.service-example .container > section > div a:disabled {
  cursor: not-allowed;
}
.service-example .container > section > div a:disabled:hover {
  background-color: var(--blue);
}
.service-example .container > section > div a:disabled .app-loader {
  display: flex;
}
.service-example .container > section > div a .app-loader {
  display: none;
}
.service-example .container > section > div a .app-loader .loader {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.service-example .container > section > div a .app-loader .loader div {
  width: 25px;
  height: 25px;
  border-width: 4px;
  margin: 0;
}

@media (min-width: 992px) {
  .service-example.invert-image .container > section {
    flex-direction: row-reverse;
  }
  .service-example.invert-image .container > section > div:last-child {
    margin-right: var(--space);
  }
  .service-example .container > section {
    justify-content: space-between;
    flex-direction: row;
    align-items: initial;
  }
  .service-example .container > section > div {
    max-width: 450px;
  }
  .service-example .container > section > div:last-child {
    margin-left: var(--space);
  }
}
#portifolio .container {
  flex-direction: column;
  align-items: center;
}
#portifolio .container .budget {
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: calc(var(--space) * 2);
}
#portifolio .carroussel-wrapper {
  display: none;
  position: fixed;
  z-index: 7;
  background-color: rgba(0, 0, 0, 0.16);
  top: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
#portifolio .carroussel-wrapper.open {
  display: flex;
}
#portifolio .carroussel-wrapper .carroussel {
  width: 100%;
  max-width: 700px;
  height: 100%;
  max-height: 500px;
  background-color: var(--white);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  flex-direction: column;
  padding: 20px;
  margin: 20px;
}
#portifolio .carroussel-wrapper .carroussel .header {
  width: 100%;
  justify-content: flex-end;
}
#portifolio .carroussel-wrapper .carroussel .header .button-close {
  border: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  background: transparent;
  width: 20px;
  height: 20px;
}
#portifolio .carroussel-wrapper .carroussel .header .button-close svg {
  fill: var(--gray-6);
  transition: all 0.2s ease-in-out;
}
#portifolio .carroussel-wrapper .carroussel .header .button-close svg:hover {
  fill: var(--dark);
}
#portifolio .carroussel-wrapper .carroussel .content {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#portifolio .carroussel-wrapper .carroussel .content .slider {
  width: 100%;
  max-width: 500px;
}
#portifolio .carroussel-wrapper .carroussel .content .slider .swiper-container {
  width: 100%;
  height: 100%;
}
#portifolio .carroussel-wrapper .carroussel .content .slider .swiper-container .swiper-slide {
  width: 100%;
  height: 100%;
  max-width: 500px;
  max-height: 500px;
}
#portifolio .carroussel-wrapper .carroussel .content .slider .swiper-container .swiper-slide img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
#portifolio .carroussel-wrapper .carroussel .content .slider .swiper-pagination {
  justify-content: center;
}
#portifolio .carroussel-wrapper .carroussel .content .slider .swiper-pagination span {
  width: 12px;
  height: 12px;
  opacity: 0.8;
}
#portifolio .carroussel-wrapper .carroussel .content .slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--green);
}
#portifolio .carroussel-wrapper .carroussel .content .name {
  margin-bottom: 0;
  color: var(--dark);
  font-size: 18px;
}

.recent-work {
  width: 100%;
  flex-direction: column;
  align-items: center;
  max-width: 375px;
  flex-wrap: wrap;
}
@media (min-width: 600px) {
  .recent-work {
    flex-direction: row;
    justify-content: space-between;
    max-width: 580px;
  }
}
@media (min-width: 920px) {
  .recent-work {
    max-width: 900px;
  }
}
@media (min-width: 1300px) {
  .recent-work {
    max-width: 1280px;
  }
}
.recent-work .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 280px;
  color: var(--dark);
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
  margin-bottom: var(--space);
}
.recent-work .card img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  transition: transform 0.3s;
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
}
.recent-work .card img:hover {
  transform: scale(1.05);
}

#our-services .container {
  flex-direction: column;
  align-items: center;
}
#our-services .container .service-wrapper {
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 30px;
}
@media (min-width: 600px) {
  #our-services .container .service-wrapper {
    flex-direction: row;
    justify-content: space-between;
    max-width: 580px;
  }
}
@media (min-width: 920px) {
  #our-services .container .service-wrapper {
    max-width: 900px;
  }
}
@media (min-width: 1300px) {
  #our-services .container .service-wrapper {
    max-width: 1280px;
  }
}
#our-services .container .service-wrapper .service-card {
  width: 280px;
  height: 380px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  background-color: #FFF;
  margin-bottom: 20px;
  flex-direction: column;
  transition: transform 0.4s ease-in-out;
  position: relative;
}
#our-services .container .service-wrapper .service-card:hover {
  transform: scale(1.03);
}
#our-services .container .service-wrapper .service-card .tag {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 20px;
  width: fit-content;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: var(--green);
  color: var(--white);
}
#our-services .container .service-wrapper .service-card > img {
  width: auto;
  height: 187px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
#our-services .container .service-wrapper .service-card .content {
  padding: 10px;
  padding-bottom: var(--space);
  flex-direction: column;
  height: 100%;
}
#our-services .container .service-wrapper .service-card .content h3 {
  color: var(--dark);
  margin: 0;
  text-align: center;
  font-weight: 600;
}
#our-services .container .service-wrapper .service-card .content p {
  color: #6e6e6e;
  text-align: center;
}
#our-services .container .service-wrapper .service-card .content .buttons {
  flex-grow: 1;
  justify-content: center;
  align-items: flex-end;
}
#our-services .container .service-wrapper .service-card .content .buttons a {
  width: 100%;
  max-width: 230px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  font-size: 16px;
  padding: 0 10px;
  border-radius: 5px;
  text-decoration: none;
  outline: none;
  border: 0;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background-color: var(--blue);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
}
#our-services .container .service-wrapper .service-card .content .buttons a:hover {
  background-color: var(--blue-3);
}
#our-services .container .service-wrapper .service-card .content .buttons a:disabled {
  cursor: not-allowed;
}
#our-services .container .service-wrapper .service-card .content .buttons a:disabled:hover {
  background-color: var(--blue);
}
#our-services .container .service-wrapper .service-card .content .buttons a:disabled .app-loader {
  display: flex;
}
#our-services .container .service-wrapper .service-card .content .buttons a .app-loader {
  display: none;
}
#our-services .container .service-wrapper .service-card .content .buttons a .app-loader .loader {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#our-services .container .service-wrapper .service-card .content .buttons a .app-loader .loader div {
  width: 25px;
  height: 25px;
  border-width: 4px;
  margin: 0;
}
#our-services .container .budget {
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#detailed-services {
  margin-top: calc(var(--space) * 3);
  width: 100%;
  flex-direction: column;
}
#detailed-services .details-wrapper {
  width: 100%;
  height: 100%;
  flex-direction: column;
}
#detailed-services .breadcrumb {
  width: 100%;
  flex-direction: column;
}
#detailed-services .breadcrumb div a {
  font-size: 14px;
  text-decoration: none;
  color: var(--dark);
  margin: 0 5px;
}
#detailed-services .breadcrumb div a:hover {
  text-decoration: underline;
}
#detailed-services .breadcrumb div a.current {
  color: var(--green);
}
#detailed-services .breadcrumb hr {
  border: 0;
  background-color: var(--gray-1);
  width: 100%;
  height: 1px;
}
#detailed-services .banner {
  margin: var(--space) 0;
}
#detailed-services .banner > div {
  width: 100%;
  min-height: 65px;
  background-image: url("../images/concert.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
#detailed-services .banner > div .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: flex-start;
  align-items: center;
  padding-left: var(--space);
}
#detailed-services .banner > div .overlay h1 {
  margin: 0;
  color: var(--white);
  font-size: 26px;
  font-weight: 600;
}
#detailed-services .description {
  width: 100%;
  flex-direction: column;
  align-items: center;
}
#detailed-services .description > div {
  width: 100%;
  max-width: 550px;
  flex-direction: column;
  color: var(--dark);
  font-size: 16px;
}
#detailed-services .description > div h2 {
  color: var(--green);
  font-size: 20px;
}
#detailed-services .description > div ul {
  flex-direction: column;
}
#detailed-services .description > div ul li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
#detailed-services .description > div ul li:last-child {
  margin-bottom: 0;
}
#detailed-services .description > div ul li div {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: var(--blue);
  margin-right: 10px;
}
#detailed-services .hire-service {
  width: 100%;
  max-width: 550px;
  flex-direction: column;
  align-items: center;
  align-self: center;
  margin-top: var(--space);
  color: var(--dark);
}
#detailed-services .hire-service h2 {
  font-size: 26px;
  color: var(--green);
}
#detailed-services .hire-service p b {
  font-weight: 600;
}
#detailed-services .hire-service form section {
  width: 100%;
  flex-direction: column;
}
#detailed-services .hire-service form section header {
  width: 100%;
  align-items: center;
}
#detailed-services .hire-service form section header h3 {
  font-size: 22px;
  color: var(--green);
}
#detailed-services .hire-service form section header hr {
  flex: 1;
  border: 0;
  background-color: var(--gray-1);
  width: 100%;
  height: 1px;
  margin-left: var(--space);
}
#detailed-services .hire-service form button[type=submit] {
  align-self: center;
}

@media (min-width: 992px) {
  #detailed-services .banner > div {
    height: 100px;
  }
  #detailed-services .description {
    flex-direction: row;
    justify-content: space-between;
    align-items: initial;
  }
  #detailed-services .description > div {
    max-width: 500px;
  }
}
#contact .container {
  flex-direction: column;
}
#contact .container > div {
  flex-direction: column;
  align-items: center;
}
#contact .container > div > section {
  flex-direction: column;
  color: var(--dark);
  font-size: 16px;
  width: 100%;
  max-width: 550px;
}
#contact .container > div > section.contact-info > div {
  align-items: center;
  margin-bottom: var(--space);
}
#contact .container > div > section.contact-info > div svg {
  margin-right: 10px;
  width: 40px;
}
#contact .container > div > section.contact-info > div p a {
  color: var(--dark);
}
#contact .container > div > section.contact-info > div p a:hover {
  color: var(--black);
}
#contact .container > div > section.contact-info > div p a:active {
  color: var(--blue);
}
#contact .container > div > section.contact-info > div.social-media {
  flex-direction: column;
}
#contact .container > div > section.contact-info > div.social-media div {
  width: 100%;
  justify-content: center;
  align-items: center;
}
#contact .container > div > section.contact-info > div.social-media div a {
  margin-right: var(--space);
}
#contact .container > div > section.contact-info > div.social-media div a:last-child {
  margin-right: 0;
}
#contact .container > div > section.contact-form form button[type=submit] {
  align-self: flex-end;
}

@media (min-width: 992px) {
  #contact .container > div {
    flex-direction: row;
    justify-content: space-between;
    align-items: initial;
  }
  #contact .container > div > section.contact-info {
    margin-right: 10px;
  }
}
#auth {
  width: 100%;
  min-height: calc(100vh - 80px);
  flex-grow: 1;
  flex-direction: row;
}
#auth .container {
  flex-direction: row;
  justify-content: flex-end;
}
#auth .container > section {
  width: 50%;
  flex-grow: 1;
  flex-direction: column;
}
#auth .illustration {
  display: none;
  justify-content: center;
  align-items: center;
  background-color: var(--gray-2);
  position: absolute;
  left: 0;
  height: calc(100vh - 80px);
}
@media (min-width: 900px) {
  #auth .illustration {
    display: flex;
  }
}
#auth .illustration img {
  width: 80%;
  height: auto;
}
#auth .forms {
  align-items: center;
}
@media (min-width: 900px) {
  #auth .forms {
    align-items: flex-end;
  }
}
#auth .forms .content {
  padding-top: 50px;
  width: 100%;
  max-width: 400px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 1200px) {
  #auth .forms .content {
    max-width: 500px;
  }
}
#auth .forms .content header {
  flex-direction: column;
}
#auth .forms .content header h1 {
  color: var(--dark);
  font-size: 26px;
  font-weight: 600;
  margin: 0;
  text-align: center;
}
#auth .forms .content header h1 span {
  font-weight: 600;
  color: var(--green);
}
#auth .forms .content header p {
  margin: 0;
  margin-top: 20px;
  color: #6e6e6e;
  text-align: center;
}
#auth .forms .content .form-toggler {
  width: 100%;
  height: 45px;
  margin: 30px 0;
}
#auth .forms .content .form-toggler li {
  width: 50%;
  height: inherit;
  background-color: var(--gray-2);
  color: var(--dark);
  font-weight: 600;
  font-size: 18px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#auth .forms .content .form-toggler li:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
#auth .forms .content .form-toggler li:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
#auth .forms .content .form-toggler li.active {
  background-color: var(--green);
  color: var(--white);
}
#auth .forms .content form.default {
  display: none;
}
#auth .forms .content form.default.show {
  display: flex;
}
#auth .forms .content form.default label {
  color: var(--dark);
  font-weight: 600;
}
#auth .forms .content form.default label input {
  margin-top: 8px;
}
#auth .forms .content form.default button[type=submit] {
  text-transform: unset;
  max-width: unset;
}
#auth .forms .content form.default .button-forget-password {
  border: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  background: transparent;
  width: fit-content;
  margin: 0 auto;
  margin-top: var(--space);
  font-size: 18px;
  color: var(--blue);
}
#auth .forms .content form.default .button-forget-password:hover {
  text-decoration: underline;
}
#auth .forms .content .modal-reset-password {
  display: none;
  position: fixed;
  z-index: 7;
  background-color: rgba(0, 0, 0, 0.16);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}
#auth .forms .content .modal-reset-password.open {
  display: flex;
}
#auth .forms .content .modal-reset-password form.default {
  display: flex;
  background-color: var(--white);
  width: 100%;
  max-width: 450px;
  border-radius: 10px;
  padding: 30px;
}
#auth .forms .content .modal-reset-password form.default header {
  margin-bottom: 30px;
  position: relative;
}
#auth .forms .content .modal-reset-password form.default header .button-close {
  position: absolute;
  top: -15px;
  right: -15px;
  border: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  background: transparent;
  width: 20px;
  height: 20px;
}
#auth .forms .content .modal-reset-password form.default header .button-close svg {
  fill: var(--gray-6);
  transition: all 0.2s ease-in-out;
}
#auth .forms .content .modal-reset-password form.default header .button-close svg:hover {
  fill: var(--dark);
}
#auth .forms .content .modal-reset-password form.default header .title {
  margin: 0 auto;
  font-size: 24px;
}
#auth .forms .content .modal-reset-password form.default .row:last-child > div {
  margin-bottom: 0;
}

#error-404 .container {
  max-width: 790px;
  margin-top: calc(var(--space) * 3);
  justify-content: space-between;
  position: relative;
}
#error-404 .container img {
  width: 129px;
  height: 237px;
}
#error-404 .container div {
  flex-direction: column;
  margin-left: var(--space);
  align-items: center;
}
#error-404 .container div h1 {
  color: var(--green);
  font-size: 26px;
  margin-top: 0;
  text-align: center;
}
#error-404 .container div p {
  color: var(--dark);
  margin-bottom: calc(var(--space) * 2);
  text-align: center;
}
#error-404 .container div a {
  width: 100%;
  max-width: 230px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  font-size: 16px;
  padding: 0 10px;
  border-radius: 5px;
  text-decoration: none;
  outline: none;
  border: 0;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background-color: var(--blue);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
  position: absolute;
  bottom: -50px;
  left: calc(50% - 150px);
}
#error-404 .container div a:hover {
  background-color: var(--blue-3);
}
#error-404 .container div a:disabled {
  cursor: not-allowed;
}
#error-404 .container div a:disabled:hover {
  background-color: var(--blue);
}
#error-404 .container div a:disabled .app-loader {
  display: flex;
}
#error-404 .container div a .app-loader {
  display: none;
}
#error-404 .container div a .app-loader .loader {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#error-404 .container div a .app-loader .loader div {
  width: 25px;
  height: 25px;
  border-width: 4px;
  margin: 0;
}

@media (min-width: 550px) {
  #error-404 .container img {
    width: initial;
    height: initial;
  }
  #error-404 .container div a {
    position: initial;
  }
}

/*# sourceMappingURL=main.css.map */
