#auth {
    width: 100%;
    min-height: calc(100vh - 80px);
    flex-grow: 1;
    flex-direction: row;
    .container {
        flex-direction: row;
        justify-content: flex-end;
        > section {
            width: 50%;
            flex-grow: 1;
            flex-direction: column;
        }
    }
    .illustration {
        @media (min-width: 900px) {
            display: flex;
        }
        display: none;
        justify-content: center;
        align-items: center;
        background-color: var(--gray-2);
        position: absolute;
        left: 0;
        height: calc(100vh - 80px);
        img {
            width: 80%;
            height: auto;
        }
    }
    .forms {
        @media (min-width: 900px) {
            align-items: flex-end;
        }
        align-items: center;
        .content {
            @media (min-width: 1200px) {
                max-width: 500px;
            }
            padding-top: 50px;
            width: 100%;
            max-width: 400px;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            header {
                flex-direction: column;
                h1 {
                    color: var(--dark);
                    font-size: 26px;
                    font-weight: 600;
                    margin: 0;
                    text-align: center;
                    span {
                        font-weight: 600;
                        color: var(--green);
                    }
                }
                p {
                    margin: 0;
                    margin-top: 20px;
                    color: rgb(110, 110, 110);
                    text-align: center;
                }
            }
            .form-toggler {
                width: 100%;
                height: 45px;
                margin: 30px 0;
                li {
                    width: 50%;
                    height: inherit;
                    background-color: var(--gray-2);
                    color: var(--dark);
                    font-weight: 600;
                    font-size: 18px;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    &:last-child {
                        border-top-right-radius: 5px;
                        border-bottom-right-radius: 5px;
                    }
                    &:first-child {
                        border-top-left-radius: 5px;
                        border-bottom-left-radius: 5px;
                    }
                    &.active {
                        background-color: var(--green);
                        color: var(--white);
                    }
                }
            }
            form.default {
                &.show {
                    display: flex;
                }
                display: none;
                label {
                    color: var(--dark);
                    font-weight: 600;
                    input {
                        margin-top: 8px;
                    }
                }
                button[type=submit] {
                    text-transform: unset;
                    max-width: unset;
                }
                .button-forget-password {
                    @include button;
                    width: fit-content;
                    margin: 0 auto;
                    margin-top: var(--space);
                    font-size: 18px;
                    color: var(--blue);
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
            .modal-reset-password {
                &.open {
                    display: flex;
                }
                display: none;
                position: fixed;
                z-index: 7;
                background-color: rgba(0, 0, 0, 0.16);
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                justify-content: center;
                align-items: center;
                padding: 0 20px;
                form.default {
                    display: flex;
                    background-color: var(--white);
                    width: 100%;
                    max-width: 450px;
                    border-radius: 10px;
                    padding: 30px;
                    header {
                        margin-bottom: 30px;
                        position: relative;
                        .button-close {
                            position: absolute;
                            top: -15px;
                            right: -15px;
                            @include button;
                            width: 20px;
                            height: 20px;
                            svg {
                                fill: var(--gray-6);
                                transition: all 0.2s ease-in-out;
                                &:hover {
                                    fill: var(--dark);
                                }
                            }
                        }
                        .title {
                            margin: 0 auto;
                            font-size: 24px;
                        }
                    }
                    .row:last-child > div {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}