#header {
    width: 100%;
    height: 80px;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, .05);
    z-index: 2;
    &.login {
        .container {
            &.header-login {
                justify-content: center;
            }
            .menu {
                nav {
                    ul {
                        li {
                            a.signin {
                                display: flex;
                            }
                        }
                    }
                }
            }
        }
    } 
    .container {
        justify-content: space-between;
        align-items: center;
        .logo {
            width: 210px;
            img {
                width: 210px;
                height: auto;
            }
        }
        .menu {
            position: absolute;
            z-index: 1;
            top: 0;
            left: -100vw;
            width: 100vw;
            height: 100vh;
            transition: left .4s ease-in-out;
            background-color: var(--white);
            overflow-y: hidden;
            flex-direction: column;
            &.open {
                left: 0;
                position: fixed;
            }
            header {
                padding: var(--space);
                justify-content: space-between;
                align-items: center;
                padding-bottom: var(--space);
                border-bottom: 1px solid var(--gray-1);
            }
            nav { 
                padding: var(--space);
                flex-direction: column;
                ul {
                    width: 100%;
                    flex-direction: column;
                    align-items: center;
                    li {
                        margin-bottom: 30px;
                        width: 100%;
                        justify-content: center;
                        a {
                            color: var(--dark);
                            font-size: 17px;
                            text-decoration: none;
                            cursor: pointer;
                            transition: color .25s ease-in-out;
                            width: 100%;
                            text-align: center;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            &.signin {
                                display: none;
                            }
                            &:hover {
                                color: var(--green);
                            }
                            > div {
                                width: 5px;
                                height: 5px;
                                border-radius: 50%;
                                color: var(--dark);
                                margin-right: 5px;
                                background-color: var(--green);
                                display: none;
                            }
                            &.active {
                                font-weight: 600;
                                color: var(--green);
                                > div {
                                    display: flex;
                                }
                            }
                        }
                    }
                }
                .user-controls {
                    justify-content: center;
                    .button-signin {
                        @include call-to-action;
                        min-width: 100px;
                        max-width: 120px;
                        svg {
                            fill: #FFF;
                            margin-right: 10px;
                            width: 20px;
                            height: auto;
                        }
                    }
                }
            }
        }
        .mobile-buttons {
            @include button; 
            svg {
                width: 25px;
                height: auto;
            }
        }
    }
}

@media (min-width: 992px) { 
    #header {
        .container {
            justify-content: space-between;
            .logo {
                width: 230px;
                img {
                    width: inherit;
                }
            }
            .menu {
                position: initial;
                z-index: initial;
                background-color: initial;
                height: initial;
                margin-left: var(--space);
                header {
                    display: none;
                }
                nav {
                    padding: initial;
                    width: initial;
                    flex-direction: row;
                    ul {
                        flex-direction: row;
                        justify-content: center;
                        width: fit-content;
                        flex-grow: 1;
                        li {
                            margin-bottom: 0;
                            margin-left: 30px;
                            width: initial;
                            &:first-child {
                                margin-left: 0;
                            }
                            a {
                                width: initial;
                            }
                        }
                    }
                    .user {
                        min-width: 230px;
                        justify-content: flex-end;
                    }
                }
            }
            .mobile-buttons {
                display: none;
            }
        }
    }
}