@mixin button {
    border: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    background: transparent;
}

@mixin call-to-action {
    width: 100%;
    max-width: 230px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    font-size: 16px;
    padding: 0 10px;
    border-radius: 5px;
    text-decoration: none;
    outline: none;
    border: 0;
    cursor: pointer;
    transition: all .3s ease-in-out;
    background-color: var(--blue);
    box-shadow: 0px 5px 10px rgb(0 0 0 / 15%);
    &:hover {
        background-color: var(--blue-3);
    }
    &:disabled {
        &:hover {
            background-color: var(--blue);
        }
        cursor: not-allowed;
        .app-loader {
            display: flex;
        }
    }
    .app-loader {
        display: none;
        .loader {
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            div {
                width: 25px;
                height: 25px;
                border-width: 4px;
                margin: 0;
            }
        }
    }
}