#our-services {
    .container {
        flex-direction: column;
        align-items: center;
        .service-wrapper {
            @media (min-width: 600px) {
                flex-direction: row;
                justify-content: space-between;
                max-width: 580px;
            }
            @media (min-width: 920px) {
                max-width: 900px;
            }
            @media (min-width: 1300px) {
                max-width: 1280px;
            }
            flex-direction: column;
            align-items: center;
            flex-wrap: wrap;
            width: 100%;
            margin-bottom: 30px;
            .service-card {
                width: 280px;
                height: 420px;
                border-radius: 5px;
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
                background-color: #FFF;
                margin-bottom: 20px;
                flex-direction: column;
                transition: transform 0.4s ease-in-out;
                position: relative;
                &:hover {
                    transform: scale(1.03);
                }
                .tag {
                    position: absolute;
                    top: 0;
                    left: 0;
                    padding: 10px 20px;
                    width: fit-content;
                    border-top-left-radius: 5px;
                    border-bottom-right-radius: 5px;
                    background-color:var(--green);
                    color: var(--white);
                }
                > img {
                    width: auto;
                    height: 187px;
                    border-top-left-radius: 5px;
                    border-top-right-radius: 5px;
                }
                .content {
                    padding: 10px;
                    padding-bottom: var(--space);
                    flex-direction: column;
                    height: 100%;
                    h3 {
                        color: var(--dark);
                        margin: 0;
                        text-align: center;
                        font-weight: 600;
                    }
                    p {
                        color: rgb(110, 110, 110);
                        text-align: center;
                    }
                    .buttons {
                        flex-grow: 1;
                        justify-content: center;
                        align-items: flex-end;
                        a {
                            @include call-to-action;
                        }
                    }
                }
            }
        }
        .budget {
            flex-direction: column;
            align-items: center;
            width: 100%;
        }
    }
}