:root {

    // Text color
    --dark: #333;
    --white: #FFF;
    --black: #000;

    // Gray
    --gray-1: #EBEBEB;
    --gray-2: #FAFAFA;
    --gray-3: #959595;
    --gray-4: #5E5E5E;
    --gray-5: #707070;
    --gray-6: #6A6A6A;

    // Green 
    --green: #10957C;

    // Blue
    --blue: #2f6dda;
    --blue-2: #0A6BA1;
    --blue-3: #0A6BA1;

    // Default values
    --space: 20px;
}